# App — na Vercel use https://seu-projeto.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3000

MERCADOPAGO_ACCESS_TOKEN=
# true = sandbox | false = produção (cobrança real)
MERCADOPAGO_SANDBOX=true
MERCADOPAGO_WEBHOOK_URL=
